@model Highland.Models.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Shopping.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageProduct1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageProduct1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageProduct2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageProduct2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
