@model IEnumerable<Highland.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Shopping.cshtml";
}

<link href="~/Content/Index_Shopping.css" rel="stylesheet" />

<link href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/bootstrap.css?1699684001161" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" as="style" type="text/css" href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/evo-main.scss.css?1699684001161" onload="this.rel='stylesheet'">


<!-- slider show -->
<div class="container swiffy-slider slider-item-ratio slider-item-ratio-32x9 slider-item-nosnap-touch slider-nav-nodelay slider-nav-autoplay slider-indicators-highlight slider-nav-animation-fadein" data-slider-nav-autoplay-interval="3000" style="width: 1120px; height: 300px; align-items: center">
    <ul class="slider-container" style="overflow:hidden">
        <li class="slide-visible">
            <div id="slide1">
                <img src="https://bizweb.dktcdn.net/100/465/740/themes/884110/assets/slider_1.jpg?1700559950128" alt="">
            </div>
        </li>
        <li class="">
            <div id="slide2">
                <img src="https://bizweb.dktcdn.net/100/465/740/themes/884110/assets/slider_2.jpg?1700559950128" alt="">
            </div>
        </li>
        <li class="">
            <div id="slide3">
                <img src="https://bizweb.dktcdn.net/100/465/740/themes/884110/assets/slider_3.jpg?1700559950128" alt="">
            </div>
        </li>
    </ul>
</div>


@foreach (var pro in Model)
{
<div class="container awe-section-4">

    <div style="text-align:center">
        <a class="sport-titles" href="#" style="width: 790px; padding: 5px 15px 5px; font-size: 24px; color: white; background-color: #B5313A; border-radius: 50px; display: inline-block; margin-bottom: 20px; margin-top: 20px; vertical-align: central">@Html.DisplayFor(model => pro.NameCate)</a>
    </div>
    <div class="swiffy-slider slider-item-show5">
        <ul class="slider-container">
            @foreach (var product in pro.Products)
            {
                <li class="slide-visible" style="margin-left: 5px; width: 205px; height: 390px; display: inline-block; overflow:hidden; margin-top:20px">
                    <div id="slide1">
                        <div class="card border-0">
                            <div class="evo-product-new">

                                @*hình sản phẩm*@
                                <a href="#" class="evo-image-pro product-item-photo">
                                    <img src="@Url.Content(product.imageProduct1)" width="210" height="208">
                                </a>

                                @*tên sản phẩm*@
                                <a href="@Url.Action("Detail","Shopping")" class="title" >@Html.DisplayFor(model => product.NameProduct)</a>

                                @*giá tiền*@
                                <div class="price-box">
                                    <span class="price">@Html.DisplayFor(model => product.PriceProduct).000₫</span>
                                </div>                                                          

                                @*chọn mua*@
                                <div class="product-action">
                                    <div class="">

                                        <button style="width:198px; background-color:white; border-width:2px;border-radius:5px">
                                            <a href="/ShoppingCart/AddToCart/@product.ID">
                                                <img class="add_img" width="15" height="15" src="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/shopping-bag.png?1700017358080" alt="Chọn mua"> Chọn mua
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>
    </div>
    </div>
 }

