@model Highland.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDCate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IDCate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameProduct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameProduct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TradeMark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TradeMark)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.QuantityProduct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.QuantityProduct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PriceProduct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PriceProduct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DescriptionProduct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescriptionProduct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imageProduct1)
            </dt>
    
            <dd>
                <img src="@Url.Content(Model.imageProduct1)" height="150" />
            </dd>
    
            
    
            
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "ShowListPro")
    </p>
</body>
</html>
