@model Highland.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_BuyCart.cshtml";
}

<link rel="stylesheet" as="style" type="text/css" href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/bootstrap.css?1700130164665" onload="this.rel='stylesheet'">
<link rel="stylesheet" as="style" type="text/css" href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/evo-main.scss.css?1700130164665" onload="this.rel='stylesheet'">
<link href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/evo-carts.scss.css?1700130164665" rel="stylesheet" type="text/css" media="all">

<h2>ShowCart</h2>

<a href="@Url.Action("Index","Shopping")">Tiep tuc mua hang</a>

@if (Model != null)
{

<div class="container white collections-container">
    <div class="row">
        <div class="col-lg-9">
            <div class="shopping-cart">
                <div class="d-none d-lg-block d-xl-block">
                    <div class="shopping-cart-table">
                        <h1 class="lbl-shopping-cart lbl-shopping-cart-gio-hang">Giỏ hàng <span>(<span class="count_item_pr hascart">1</span> sản phẩm)</span></h1>

                        <div class="col-main cart_desktop_page cart-page">
                            <form id="shopping-cart" action="/cart" method="post" novalidate="" class="has-validation-callback">
                                <div class="cart page_cart cart_des_page hidden-xs-down row">
                                    @*sản phẩm*@

                                    @foreach(var item in Model.Items)
                                    {
                                        decimal total = item._quantity * (decimal)item._product.PriceProduct.Value;

                                        <div class="col-lg-12 cart-col-1">
                                            <div class="cart-tbody">
                                                <div class="row shopping-cart-item productid-91222684">
                                                    @*hình sản phẩm*@
                                                    <div class="col-lg-3 img-thumnail-custom">
                                                        <p class="image">
                                                            <a href="/tang-tui-highlands-coffee-ca-phe-bot-truyen-thong-highlands-coffee-1kg" title="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG" target="_blank">
                                                                <img class="img-responsive" src="@Url.Content(item._product.imageProduct1)" alt="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG">
                                                            </a>
                                                        </p>
                                                    </div>

                                                    @*thông tin*@
                                                    <div class="col-right col-lg-9">
                                                        <div class="box-info-product">
                                                            <p class="name">
                                                                <a href="/tang-tui-highlands-coffee-ca-phe-bot-truyen-thong-highlands-coffee-1kg" title="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG" target="_blank">@Html.DisplayFor(model => item._product.NameProduct)</a>
                                                            </p>

                                                            <p class="c-brands">Thương hiệu: Highlands Coffee</p>
                                                            <p class="seller-by d-none" style="display: none;">Default Title</p>

                                                            <p class="action">
                                                                <a href="/ShoppingCart/RemoveCart/@item._product.ID" class="btn btn-link btn-item-delete remove-item-cart" data-id="91222684" title="Xóa">Xóa</a>
                                                            </p>

                                                        </div>

                                                        <div class="box-price">
                                                            <p class="price pricechange">@Html.DisplayFor(model => item._product.PriceProduct)</p>
                                                        </div>

                                                        <div class="quantity-block">
                                                            <div class="bootstrap-touchspin">
                                                                <div class="input-group-btn">
                                                                    <input class="variantID" type="hidden" name="variantId" value="91222684">
                                                                    <button onclick="var result = document.getElementById('qtyItem91222684'); var qtyItem91222684 = result.value; if( !isNaN( qtyItem91222684 )) result.value++;return false;" class="increase_pop items-count btn-plus btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                                                    <input type="text" onchange="if(this.value == 0)this.value=1;" maxlength="12" min="1" disabled="" class="form-control quantity-r2 quantity js-quantity-product input-text number-sidebar input_pop input_pop qtyItem91222684" id="qtyItem91222684" name="Lines" size="4" value="1">
                                                                    <button onclick="var result = document.getElementById('qtyItem91222684'); var qtyItem91222684 = result.value; if( !isNaN( qtyItem91222684 ) &amp;&amp; qtyItem91222684 > 1 ) result.value--;return false;" disabled="" class="reduced_pop items-count btn-minus btn btn-default bootstrap-touchspin-down" type="button">–</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    

                                    @*thanh toán*@
                                    <div class="col-lg-12 cart-col-2 cart-collaterals cart_submit">
                                        <div id="right-affix">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a class="btn-proceed-checkout btn-checkouts" title="Tiếp tục mua hàng" href="@Url.Action("Index","Shopping")">Tiếp tục mua hàng</a>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="each-row">
                                                        <div class="box-style fee">
                                                            <p class="list-info-price">
                                                                <span>Tạm tính: </span>
                                                                <strong class="totals_price price _text-right text_color_right1">@Model.Total_money()</strong>
                                                            </p>
                                                        </div>

                                                        <div class="box-style fee d-none">
                                                            <p class="list-info-price">
                                                                <span>Giảm giá: </span>
                                                                <strong class="discounted price _text-right text_color_right1" id="price_sale" data-price="0"></strong>
                                                            </p>
                                                        </div>

                                                        <div class="box-style fee">
                                                            <div class="total2 clearfix">
                                                                <span class="text-label">Thành tiền: </span>
                                                                <div class="amount">
                                                                    <p>
                                                                        <strong class="totals_price">@Model.Total_money()</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <button class="button btn btn-large btn-block btn-danger btn-checkout evo-button" title="Thanh toán ngay" type="button">
                                                            <a href="@Url.Action("CheckOut","ShoppingCart")">Thanh toán ngay</a> 
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @*Giới thiệu - Quảng Cáo*@
        <div class="col-lg-3">
            <div class="side-module block">
                <div class="content-asset">
                    <div class="service-module service-closed">
                        <h3>Dịch vụ khách hàng</h3>
                        <p>Bạn cần sự hỗ trợ từ chúng tôi? Hãy liên hệ ngay</p>
                        <ul>
                            <li>
                                <a href="tel:0917561212" title="Hotline 0917561212">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480.56 480.56" style="enable-background:new 0 0 480.56 480.56;" xml:space="preserve">
                                    <path d="M365.354,317.9c-15.7-15.5-35.3-15.5-50.9,0c-11.9,11.8-23.8,23.6-35.5,35.6c-3.2,3.3-5.9,4-9.8,1.8
												 c-7.7-4.2-15.9-7.6-23.3-12.2c-34.5-21.7-63.4-49.6-89-81c-12.7-15.6-24-32.3-31.9-51.1c-1.6-3.8-1.3-6.3,1.8-9.4
												 c11.9-11.5,23.5-23.3,35.2-35.1c16.3-16.4,16.3-35.6-0.1-52.1c-9.3-9.4-18.6-18.6-27.9-28c-9.6-9.6-19.1-19.3-28.8-28.8
												 c-15.7-15.3-35.3-15.3-50.9,0.1c-12,11.8-23.5,23.9-35.7,35.5c-11.3,10.7-17,23.8-18.2,39.1c-1.9,24.9,4.2,48.4,12.8,71.3
												 c17.6,47.4,44.4,89.5,76.9,128.1c43.9,52.2,96.3,93.5,157.6,123.3c27.6,13.4,56.2,23.7,87.3,25.4c21.4,1.2,40-4.2,54.9-20.9
												 c10.2-11.4,21.7-21.8,32.5-32.7c16-16.2,16.1-35.8,0.2-51.8C403.554,355.9,384.454,336.9,365.354,317.9z"></path>
                                    <path d="M346.254,238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89c-25.7-25.7-58.2-41.9-94-46.9l-5.2,37.1
												 c27.7,3.9,52.9,16.4,72.8,36.3C329.454,188.2,341.754,212,346.254,238.2z"></path>
                                    <path d="M403.954,77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2,37.1c51.4,7.2,98,30.5,134.8,67.2c34.9,34.9,57.8,79,66.1,127.5
												 l36.9-6.3C470.854,169.3,444.354,118.3,403.954,77.8z"></path>
									</svg> 0917561212
                                </a>
                            </li>
                            <li>
                                <a class="text-link" href="https://www.facebook.com/shophighlandscoffee" target="_blank" title="Chúng tôi trên Facebook">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                    <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#EBE7E7"></path>
									</svg> Chúng tôi trên Facebook
                                </a>
                            </li>
                        </ul>
                        <p>Giờ mở cửa (08:00 - 18:00 tối)</p>
                        <a class="text-links" href="/lien-he" title="Liên hệ">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="side-module block usp-payment-module margin-bottom-0">
                <div class="content-asset">
                    <h3>Mua sắm cùng Ant Home</h3>
                    <ul class="usp-list">

                        <li>
                            <span class="color-grey-dark">Sản phẩm đẹp, thân thiện với môi trường</span>
                            <p></p>
                        </li>


                        <li>
                            <span class="color-grey-dark">Không lo về giá</span>
                            <p></p>
                        </li>


                        <li>
                            <span class="color-grey-dark">Miễn phí vận chuyển</span>
                            <p>cho đơn hàng từ 1.500.000 VNĐ</p>
                        </li>

                    </ul>
                    <ul class="payment">
                        <li><img src="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/cart_payment_1.svg?1700130164665" alt="Hình thức thanh toán"></li>
                        <li><img src="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/cart_payment_2.svg?1700130164665" alt="Hình thức thanh toán"></li>
                        <li><img src="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/cart_payment_3.svg?1700130164665" alt="Hình thức thanh toán"></li>
                        <li><img src="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/cart_payment_4.svg?1700130164665" alt="Hình thức thanh toán"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
@Html.Partial("EmptyCart")
}




