@model Highland.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Shopping.cshtml";
}

<link href="//bizweb.dktcdn.net/100/465/740/themes/884110/assets/evo-carts.scss.css?1700130164665" rel="stylesheet" type="text/css" media="all">

@if (Model != null)
{

    <div class="container white collections-container">
        <div class="row">
            <div class="col-lg-9">
                <div class="shopping-cart">
                    <div class="d-none d-lg-block d-xl-block">
                        <div class="shopping-cart-table">

                            <div class="col-main cart_desktop_page cart-page">
                                <form id="shopping-cart" action="/cart" method="post" novalidate="" class="has-validation-callback">
                                    <div class="cart page_cart cart_des_page hidden-xs-down row">
                                        @*sản phẩm*@

                                        @foreach (var item in Model.Items)
                                        {
                                            decimal total = item._quantity * (decimal)item._product.PriceProduct.Value;

                                            <div class="col-lg-12 cart-col-1">
                                                <div class="cart-tbody">
                                                    <div class="row shopping-cart-item productid-91222684">
                                                        @*hình sản phẩm*@
                                                        <div class="col-lg-3 img-thumnail-custom">
                                                            <p class="image">
                                                                <a href="#" title="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG" target="_blank">
                                                                    <img class="img-responsive" src="@Url.Content(item._product.imageProduct1)" alt="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG">
                                                                </a>
                                                            </p>
                                                        </div>

                                                        @*thông tin*@
                                                        <div class="col-right col-lg-9">
                                                            <div class="box-info-product">
                                                                <p class="name">
                                                                    <a href="#" title="[TẶNG TÚI HIGHLANDS COFFEE-màu ngẫu nhiên] Cà Phê Bột Truyền Thống Highlands Coffee 1KG" target="_blank">@Html.DisplayFor(model => item._product.NameProduct)</a>
                                                                </p>

                                                                <p class="c-brands">Thương hiệu: Highlands Coffee</p>
                                                                <p class="seller-by d-none" style="display: none;">Default Title</p>

                                                                <p class="action">
                                                                    <a href="/ShoppingCart/RemoveCart/@item._product.ID" class="btn btn-link btn-item-delete remove-item-cart" data-id="91222684" title="Xóa">Xóa</a>
                                                                </p>

                                                            </div>

                                                            <div class="box-price">
                                                                <p class="price pricechange">@Html.DisplayFor(model => item._product.PriceProduct).000₫</p>
                                                            </div>

                                                            <div class="quantity-block">
                                                                <div class="bootstrap-touchspin">
                                                                    <div class="input-group-btn">
                                                                        @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                                                                        {
                                                                            <input class="variantID" type="hidden" name="idPro" value="@item._product.ID">
                                                                            <input type="number" name="cartQuantity" value="@item._quantity" class="form-control quantity-r2 quantity js-quantity-product input-text number-sidebar input_pop input_pop qtyItem91222684">
                                                                            <input type="submit" value="Update" class="reduced_pop items-count btn-minus btn btn-default bootstrap-touchspin-down" />
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                        @*thanh toán*@

                                        <div class="col-lg-12 cart-col-2 cart-collaterals cart_submit">
                                            <div id="right-affix">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <a class="btn-proceed-checkout btn-checkouts" title="Tiếp tục mua hàng" href="@Url.Action("Index","Shopping")">Tiếp tục mua hàng</a>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="each-row">
                                                            <div class="box-style fee">
                                                                <p class="list-info-price">
                                                                    <span>Tạm tính: </span>
                                                                    <strong class="totals_price price _text-right text_color_right1">@Model.Total_money().000₫</strong>
                                                                </p>
                                                            </div>

                                                            <div class="box-style fee d-none">
                                                                <p class="list-info-price">
                                                                    <span>Giảm giá: </span>
                                                                    <strong class="discounted price _text-right text_color_right1" id="price_sale" data-price="0"></strong>
                                                                </p>
                                                            </div>

                                                            <div class="box-style fee">
                                                                <div class="total2 clearfix">
                                                                    <span class="text-label">Thành tiền: </span>
                                                                    <div class="amount">
                                                                        <p>
                                                                            <strong class="totals_price">@Model.Total_money().000₫</strong>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <button class="button btn btn-large btn-block btn-danger btn-checkout evo-button" title="Thanh toán ngay" type="button">
                                                                    <a href="@Url.Action("CheckOutForm","ShoppingCart")"><p style="color:white">Thanh toán ngay</p></a>
                                                            </button>
                                                        </div>
                                                    </div>                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
}
else
{
    @Html.Partial("EmptyCart")
}

