@model Highland.Models.AdminUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Shopping.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>
@using (Html.BeginForm("LoginAccount", "Login"))
{
    @Html.AntiForgeryToken()


<div class="container">

    <div class="heading">
        <h1>Login</h1>
    </div>

    <label for="name">@Html.LabelFor(model => model.UserName)</label>
    <label id="name">@Html.TextBoxFor(model => model.UserName)</label>
    <label>@Html.ValidationMessageFor(model => model.UserName)</label>

    <br>

    <label for="card">@Html.LabelFor(model => model.UserPass)</label>
    <label>@Html.EditorFor(model => model.UserPass)</label>
    <label>@Html.ValidationMessageFor(model => model.UserPass)</label>
    @if (ViewBag.ErrorInfo != null)
    {
        <p>@ViewBag.ErrorInfo</p>
    }

    <input type="submit" value="Login" />

    
        <input onclick="location.href='Login/RegisterUser'" type="button" value="Register" />


</div>
     
}

